*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
  padding: env(safe-area-inset);
}

@media screen and (max-width: 78.125em) {
  html {
    font-size: 56.25%;
  }
}
@media screen and (max-width: 48em) {
  html {
    font-size: 50%;
  }
}
html,
body {
  overflow-x: hidden;
}

@font-face {
  font-family: "Rubik";
  src: url("/fonts/Rubik/Rubik-Black.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Rubik-Bold";
  src: url("/fonts/Rubik/Rubik-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Black.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Poppins-Light";
  src: url("/fonts/Poppins/Poppins-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Poppins-Bold";
  src: url("/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
body {
  font-family: Poppins-Light;
  font-style: normal;
  color: black;
  min-height: 100vh;
  font-weight: 300;
  line-height: 1.6;
  overflow-y: auto;
  background-color: white;
}
body::-webkit-scrollbar {
  width: 0.5rem;
  background-color: white;
}
body::-webkit-scrollbar-thumb {
  background-color: #907F9F;
}

.form-group {
  margin: 2rem 0;
  position: relative;
}
.form-group input {
  display: flex;
  width: 100%;
  padding: 2.5rem 1.5rem;
  box-sizing: border-box;
  outline: none;
  font-weight: 300;
  font-size: 2rem;
  font-family: inherit;
  border: 0.05rem solid #383b3b;
  background-color: transparent;
  margin: 0.5rem 0;
  transition: all 0.5s ease-in-out;
}
.form-group input:focus + .inputLabel {
  top: 5%;
}
.form-group label {
  position: absolute;
  padding: 0rem 1.5rem;
  box-sizing: border-box;
  outline: none;
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--color-dark-shade-scheme-1);
  top: 0%;
  transition: all 0.3s ease-in-out;
  font-size: 1.2rem;
  text-transform: capitalize;
}
.form-group label span {
  text-transform: lowercase;
}
.form-group svg {
  position: absolute;
  top: 25%;
  right: 1rem;
  width: 3rem;
  height: 3rem;
  fill: #A4A5AE;
}
.form-group svg:hover {
  cursor: pointer;
}
.form-group div > svg {
  width: 3rem;
  height: 3rem;
  fill: var(--color-dark-shade-scheme-1);
}
.form-group div > svg:hover {
  cursor: pointer;
}
.form-group-list {
  position: absolute;
  top: 100%;
  width: 100%;
  height: max-content !important;
  max-height: 25rem !important;
  font-size: 1.4rem;
  border-top: 0.1rem solid #b3b3b3;
  border: 0.1rem solid #b3b3b3;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  box-shadow: 0rem 1rem 0.5rem 0.2rem rgba(0, 0, 0, 0.2);
  z-index: 500;
  overflow-y: scroll;
}
.form-group-list::-webkit-scrollbar {
  width: 0.5rem;
  background-color: #b3b3b3;
}
.form-group-list::-webkit-scrollbar-thumb {
  background-color: #b3b3b3 !important;
}
.form-group-list-item {
  display: flex;
  padding: 0.8rem 2rem;
  font-size: inherit;
  text-transform: capitalize;
  color: #272727;
  background-color: #edf2f5;
}
.form-group-list-item:last-child {
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  padding-bottom: 1.5rem;
}
.form-group-list-item svg {
  width: 2rem !important;
  height: 2rem !important;
  fill: var(--color-scheme-2);
  margin-right: 1rem !important;
  margin-left: 1rem !important;
}
.form-group-list-item:hover {
  cursor: pointer;
  color: white;
  background-color: #8D5A97;
}
.form-group-button-small {
  width: 40%;
  border-radius: 1rem;
  outline: none;
  font-size: 2rem;
  padding: 1rem 2rem;
  border: none;
  background-color: #8D5A97;
  transition: all 0.5s;
}
.form-group-button-small:hover {
  cursor: pointer;
  transform: translateY(-5px) scale(1.1);
}
.form-group-button-large {
  width: 100%;
  border-radius: 1rem;
  outline: none;
  font-size: 2rem;
  padding: 2rem 1rem;
  border: none;
  background-color: #907F9F;
  color: white;
  font-weight: 600;
  transition: all 0.5s;
}
.form-group-button-large:hover {
  cursor: pointer;
  transform: translateY(-1px) scale(1.03);
}
.form-group-error-light {
  color: white;
  font-size: 1.6rem;
}
.form-group-error-dark {
  color: black !important;
  font-size: 1.6rem;
}

.container-center {
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 2rem;
  height: 100%;
}
.container-centerWidth {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 3rem 3rem;
}
.container-flex-right {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 1rem 0;
}
.container-flex-left {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 1rem 0;
}

.w-full {
  width: 100%;
}

.columnsTwo {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.slantedColumnLeft {
  position: relative;
  background-color: #8D5A97;
  box-shadow: 0.3rem 0.3rem 1rem 1rem rgba(0, 0, 0, 0.4);
  color: white;
  margin-bottom: 20px;
  padding: 20px;
  transform: skew(-10deg);
  transform-origin: 0;
  overflow: hidden;
}

.slantedColumnLeft::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: inherit;
  transform: skew(10deg);
  transform-origin: 0;
  z-index: -1;
}

.slantedColumnRight {
  position: relative;
  color: white;
  transform: skew(-15deg);
  transform-origin: 0;
  overflow: hidden;
}

.slantedColumnRight::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: skew(15deg);
  transform-origin: 0;
  z-index: -1;
}

.popUpBackground {
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
}

.popUpBox {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popUpBoxClose {
  position: absolute;
  top: 5%;
  right: 5%;
}
.popUpBoxClose:hover {
  cursor: pointer;
}

.overlay {
  position: absolute;
  top: 0%;
  left: 45%;
  height: 100%;
}

.counteractSkew {
  transform: skew(10deg);
  margin: 0;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
}

.padding-0 {
  padding: 0rem !important;
}
.padding-3 {
  padding: 3rem !important;
}

.flexStart {
  justify-content: flex-start !important;
}

.scrollHorizontal {
  display: flex;
  justify-content: flex-start;
  overflow-x: auto;
  white-space: nowrap;
}
.scrollHorizontal::-webkit-scrollbar {
  height: 0.1rem !important;
}
.scrollHorizontal::-webkit-scrollbar-thumb {
  background-color: #8D5A97;
}
.scrollVertical {
  display: flex;
  justify-content: flex-start;
  overflow-y: auto;
  white-space: nowrap;
}
.scrollVertical::-webkit-scrollbar {
  width: 0.1rem !important;
}
.scrollVertical::-webkit-scrollbar-thumb {
  background-color: #8D5A97;
}
.scrollReverse {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow-x: auto;
  white-space: nowrap;
  direction: rtl;
}
.scrollReverse::-webkit-scrollbar {
  height: 0.1rem !important;
}
.scrollReverse::-webkit-scrollbar-thumb {
  background-color: #8D5A97;
}

.dropdown {
  position: relative;
  display: inline-block;
  height: 100%;
}
.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: -5rem;
  width: 20rem;
  height: 100%;
  background-color: transparent !important;
  list-style: none;
  border-radius: 25rem !important;
  outline: none;
}
.dropdown-menu li {
  padding: 1rem 0.5rem;
  width: 20rem;
  background-color: white;
  font-size: 1.2rem;
  text-align: center;
  cursor: pointer;
}
.dropdown-menu li:first-child {
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}
.dropdown-menu li:last-child {
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}
.dropdown-menu li:hover {
  background-color: #8D5A97;
  color: white;
  box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.5);
}
.dropdown:hover .dropdown-menu {
  display: block;
}

.freezedPanes {
  height: 70rem !important;
  padding: 1rem 0.6rem !important;
}

.h5 {
  height: 5rem !important;
}

.h6 {
  height: 6rem !important;
}

.h10 {
  height: 10rem !important;
}

.h20 {
  height: 20rem !important;
}

.h100percent {
  height: 100%;
}

.h100 {
  height: 100vh !important;
}

.w20 {
  width: 20rem !important;
  min-width: 20rem !important;
  max-width: 20rem !important;
}

.w30 {
  width: 30rem !important;
}

.w40 {
  width: 40rem;
}

.w50 {
  width: 50rem;
}

.w60 {
  width: 60rem;
}

.w70 {
  width: 70rem;
}

.w80 {
  width: 80rem;
}

.w100 {
  width: 100rem;
}

.whalf {
  width: 49% !important;
  margin: 0.5rem 0.2rem;
}

.wfull {
  width: 100% !important;
}

.w30percent {
  width: 30%;
}

.w40percent {
  width: 40%;
}

.w60percent {
  width: 60%;
}

.w70percent {
  width: 70%;
}

.positionLeftZero {
  top: -1.5rem !important;
  left: 0rem !important;
}

.positionRight {
  top: -1.5rem !important;
  right: 2.5rem !important;
}

.noColor {
  background-color: transparent !important;
}
.noColor svg {
  width: 15rem !important;
  height: 15rem !important;
}

.maxContainer {
  max-width: 1440px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: end;
}

.items-center {
  align-items: center;
}

.ml5 {
  margin-left: 1rem;
}

.mt10 {
  margin-top: 10rem;
}

.mt5 {
  margin-top: 20rem;
}

.mt1 {
  margin-top: 5rem;
}

.mt {
  margin-top: 2rem;
}

.ml5 {
  margin-left: 5rem;
}

.hoverCursor:hover {
  cursor: pointer;
}

.bg-red {
  background-color: red;
}

.box-curved-3 {
  border-radius: 1.5rem;
  box-shadow: -0.3rem 0.3rem 0.5rem 0.2rem rgba(0, 0, 0, 0.5);
  padding: 1.5rem;
}
.boxForm {
  background-color: white;
  height: max-content;
}

.boxBackground {
  border-radius: 0.5rem;
  background-color: #8D5A97;
}

.teams {
  width: 80px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  font-size: 1.6rem;
  background-color: rgba(237, 242, 245, 0.7);
  padding: 1rem 0;
  border-radius: 1.2rem;
  overflow-y: scroll;
}
.teams::-webkit-scrollbar {
  width: 0.2rem;
  background-color: white;
}
.teams::-webkit-scrollbar-thumb {
  background-color: #907F9F;
}
.teamsItem {
  width: 50px;
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 1.2rem;
  margin: 1rem 0;
  justify-content: center;
  align-items: center;
  min-height: 5rem;
  background-color: #f0f0f0;
  position: relative;
  writing-mode: vertical-lr;
  transform: rotate(-180deg);
  white-space: nowrap;
  transition: all 0.5s;
}
.teamsItem:hover {
  cursor: pointer;
  transform: rotate(-180deg);
  box-shadow: 1rem 0.1rem 1rem 0.1rem rgba(0, 0, 0, 0.3);
}

.years {
  width: 340px;
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 1.6rem;
  overflow-x: scroll;
  background-color: rgba(237, 242, 245, 0.7);
  padding: 0 1rem;
  border-radius: 1.2rem;
}
.years::-webkit-scrollbar {
  height: 0.2rem;
  background-color: white;
}
.years::-webkit-scrollbar-thumb {
  background-color: #907F9F;
}
.yearsItem {
  display: flex;
  padding: 1rem 2rem;
  border-radius: 1.2rem;
  margin: 1rem 0;
  margin-right: 1rem;
  justify-content: center;
  align-items: center;
  min-height: 5rem;
  background-color: #f0f0f0;
  position: relative;
  white-space: nowrap;
  transition: all 0.5s;
}
.yearsItem:hover {
  cursor: pointer;
  box-shadow: 1rem 0.1rem 1rem 0.1rem rgba(0, 0, 0, 0.3);
}

.curved {
  border-radius: 2.5rem;
}

.curved-eased {
  border-radius: 2rem;
}

.element-white {
  background-color: white;
}

.text-black {
  color: black !important;
  font-size: 1.6rem;
}
.text-schemeOne {
  color: #8D5A97 !important;
  font-size: 1.6rem;
}

.border-right {
  border-right: 0.2rem solid #b3b3b3 !important;
}

.border-bottom {
  border-bottom: 0.2rem solid #b3b3b3 !important;
}

.schemeOne {
  border-color: #8D5A97;
  color: #8D5A97;
}
.schemeOne-background {
  background-color: #8D5A97 !important;
}
.schemeOneAbsolute {
  background-color: #8D5A97;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: width 0.5s ease-in-out;
}

.schemeTwo {
  border-color: #907F9F;
  color: #907F9F;
}
.schemeTwo-background {
  background-color: #907F9F !important;
}
.schemeTwoAbsolute {
  background-color: #907F9F;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: width 0.5s ease-in-out;
}

.schemeThree {
  border-color: #A4A5AE;
  color: #A4A5AE;
}
.schemeThree-background {
  background-color: #A4A5AE !important;
}
.schemeThreeAbsolute {
  background-color: #A4A5AE;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: width 0.5s ease-in-out;
}

.schemeFour {
  border-color: #B0C7BD;
  color: #B0C7BD;
}
.schemeFour-background {
  background-color: #B0C7BD !important;
}
.schemeFourAbsolute {
  background-color: #B0C7BD;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: width 0.5s ease-in-out;
}

.schemeFive {
  border-color: #B8EBD0;
}
.schemeFive-background {
  background-color: #B8EBD0 !important;
}
.schemeFiveAbsolute {
  background-color: #B8EBD0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: width 0.5s ease-in-out;
}

.lightGray-background {
  background-color: #edf2f5;
}

.fontSize-12 {
  font-size: 1.2rem !important;
}
.fontSize-14 {
  font-size: 1.4rem !important;
}
.fontSize-16 {
  font-size: 1.6rem !important;
}
.fontSize-18 {
  font-size: 1.8rem !important;
}
.fontSize-20 {
  font-size: 2rem !important;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.lightContrast {
  color: white !important;
}

.darkContrast {
  color: #272727 !important;
}

.fontWeight-400 {
  font-weight: 400 !important;
}
.fontWeight-500 {
  font-weight: 500 !important;
}
.fontWeight-600 {
  font-weight: 600 !important;
}
.fontWeight-700 {
  font-weight: 700 !important;
}

.redText {
  color: red !important;
  font-weight: 600 !important;
}

.glowOrderTwo {
  box-shadow: 0.2rem 1.2rem 0.5rem 0.2rem rgba(141, 90, 151, 0.7);
}
.glowOrderThree {
  box-shadow: 0.2rem 1.2rem 0.5rem 0.2rem rgba(184, 235, 208, 0.7);
}

.m0 {
  margin: 0rem !important;
}

.p0 {
  padding: 0rem !important;
}

.padding-x {
  padding: 0 2rem;
}

.loading span {
  width: 0.5rem;
  height: 0.5rem;
  margin: 0 0.5rem;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  animation-name: dots;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.loading span:nth-child(1) {
  animation-delay: 0.2s;
}
.loading span:nth-child(2) {
  animation-delay: 0.4s;
}
.loading span:nth-child(3) {
  animation-delay: 0.8s;
}

.smooth-scroll {
  scroll-behavior: smooth;
}

.loadingPage {
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
  text-transform: uppercase;
  width: 150px;
  text-align: center;
  line-height: 50px;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin: auto;
  transform: translateY(-50%);
}

.loadingPage span {
  position: relative;
  z-index: 999;
  color: #fff;
}

.loadingPage:before {
  content: "";
  background: #8D5A97;
  width: 128px;
  height: 36px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  animation: 2s loadingBefore infinite ease-in-out;
}

.loadingPage:after {
  content: "";
  background: #907F9F;
  width: 14px;
  height: 60px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  opacity: 0.5;
  animation: 2s loadingAfter infinite ease-in-out;
}

@keyframes loadingBefore {
  0% {
    transform: translateX(-14px);
  }
  50% {
    transform: translateX(14px);
  }
  100% {
    transform: translateX(-14px);
  }
}
@keyframes loadingAfter {
  0% {
    transform: translateX(-50px);
  }
  50% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(-50px);
  }
}
@keyframes dots {
  50% {
    opacity: 0;
    transform: scale(0.7) translateY(0.1rem);
  }
}
.element-button-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem !important;
  padding: 1rem;
  transition: all 0.3s;
  z-index: 100 !important;
}
.element-button-icon svg {
  margin: 0 !important;
  width: 3rem !important;
  height: 3rem !important;
  fill: #907F9F;
}
.element-button-icon:hover {
  cursor: pointer;
  transform: translateY(-3px) scale(1.05);
}
.element-button-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  padding: 1rem;
  height: 100%;
  background-color: #A4A5AE;
  color: white;
  margin: 0 0.5rem;
  font-weight: 600 !important;
  outline: none;
  border: none;
  text-align: center;
  position: relative;
}
.element-button-text:hover {
  cursor: pointer;
}
.element-button-allocation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 20rem;
  max-width: 20rem;
  font-size: 1.6rem;
  padding: 1rem 0.1rem;
  height: 100%;
  background-color: white;
  color: white;
  margin: 0 0.5rem;
  font-weight: 600 !important;
  transition: all 0.3s;
  position: relative;
}
.element-button-allocation:hover {
  cursor: pointer;
  transform: translateY(-3px) scale(1.05);
  box-shadow: -0.5rem 0.1rem 1rem 0.1rem rgba(0, 0, 0, 0.3);
}
.element-button-total {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 20rem;
  max-width: 20rem;
  font-size: 1.6rem;
  padding: 1rem 0.1rem;
  height: 100%;
  background-color: white;
  color: white;
  margin: 0 0.5rem;
  font-weight: 600 !important;
  transition: all 0.3s;
  position: relative;
}
.element-buttonFile label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  padding: 1rem;
  height: 100%;
  background-color: #A4A5AE;
  color: white;
  margin: 0 0.5rem;
  font-weight: 600 !important;
  outline: none;
  border: none;
  text-align: center;
  transition: all 0.3s;
}
.element-buttonFile label:hover {
  cursor: pointer;
  transform: translateY(-3px) scale(1.05);
}
.element-buttonFile input {
  display: none !important;
}
.elementInnerText {
  display: flex;
  align-items: center;
  text-align: center;
  border: none;
  outline: none;
  min-width: 2rem !important;
  background-color: white;
  padding: 0.3rem;
  z-index: 2;
  transition: all 0.5s;
}
.elementInnerText:hover {
  cursor: pointer;
  transform: translateY(-3px) scale(1.05);
}
.elementInnerBox {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 1rem;
  border: 0.15rem solid;
  background-color: white;
  width: 3rem;
  height: 3rem;
  margin: 0 0.1rem;
  color: black;
  font-weight: 400;
  z-index: 2;
  transition: all 0.5s;
}
.elementInnerBox:hover {
  cursor: pointer;
  transform: translateY(-3px) scale(1.05);
}
.elementSvgContainer {
  position: absolute;
  top: -1.5rem;
  right: 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  width: 2rem;
  height: 2rem;
  z-index: 3 !important;
  border-radius: 50%;
}
.elementSvgContainer svg {
  width: 0.8rem;
  height: 0.8rem;
  fill: white;
}
.elementSvgContainer:hover {
  cursor: pointer;
}
.elementColorPalletePopup {
  position: fixed;
  top: 35%;
  width: 340px;
  height: 21rem;
  border-radius: 1.2rem;
  background-color: #edf2f5;
  box-shadow: 0rem 0rem 1.5rem 0.5rem rgba(0, 0, 0, 0.5);
  padding: 1rem !important;
  z-index: 100 !important;
}
.elementColorPalletePopupContainer {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.elementColorPalletePopupItem {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin: 0.5rem;
  padding: 0;
}
.elementColorPalletePopupItem:hover {
  cursor: pointer;
}
.elementLink {
  margin: 1rem 0rem !important;
}

.mtb10 {
  margin: 10rem 0rem !important;
}

.mt5 {
  margin: 5rem 0rem !important;
}

.my3 {
  margin: 2rem 0 !important;
}

.headerOne {
  letter-spacing: 0.2rem;
  font-size: 2.4rem;
}

.flexSVGGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.svgItem:hover {
  cursor: pointer;
}

.capitalize {
  text-transform: capitalize !important;
}

.rounded {
  border-top-right-radius: 1rem !important;
  border-top-left-radius: 1rem !important;
}

.listItem {
  display: flex;
  align-items: center;
  background-color: #edf2f5;
  border-radius: 1.2rem;
  font-size: 1.2rem;
  padding: 2rem;
}

.justifyBetween {
  flex-direction: row;
  justify-content: space-between;
}

.gap2 {
  gap: 1rem;
}

.bg-red {
  background-color: red !important;
}

.relative {
  position: relative !important;
}

.notification {
  display: flex;
  justify-content: center;
  width: 40rem;
  margin-top: 1rem;
  padding: 1rem 1rem;
  background-color: #A4A5AE;
  color: white;
  font-size: 1.4rem;
  border-radius: 1.2rem;
  box-shadow: 0.5rem 0.3rem 0.3rem 0.3rem rgba(0, 0, 0, 0.4);
}

.close {
  position: absolute;
  right: -1rem;
  top: -0.7rem;
  padding: 0.5rem;
  background-color: black;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
}
.close:hover {
  cursor: pointer;
}

.teamSvg {
  position: absolute;
  bottom: -1.5rem;
  right: 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  width: 2rem;
  height: 2rem;
  z-index: 3 !important;
  border-radius: 50%;
  transform: rotate(-180deg);
}
.teamSvg svg {
  width: 0.8rem;
  height: 0.8rem;
  fill: white;
}
.teamSvg:hover {
  cursor: pointer;
}
.teamSvgEdit {
  position: absolute;
  bottom: -1.5rem;
  right: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  width: 2rem;
  height: 2rem;
  z-index: 3 !important;
  border-radius: 50%;
}
.teamSvgEdit svg {
  width: 1rem;
  height: 1rem;
  fill: white;
}
.teamSvgEdit:hover {
  cursor: pointer;
}

.yearSvg {
  position: absolute;
  top: -0.5rem;
  left: 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  width: 2rem;
  height: 2rem;
  z-index: 3 !important;
  border-radius: 50%;
}
.yearSvg svg {
  width: 0.8rem;
  height: 0.8rem;
  fill: white;
}
.yearSvg:hover {
  cursor: pointer;
}
.yearSvgEdit {
  position: absolute;
  top: -0.5rem;
  left: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  width: 2rem;
  height: 2rem;
  z-index: 3 !important;
  border-radius: 50%;
}
.yearSvgEdit svg {
  width: 1rem;
  height: 1rem;
  fill: white;
}
.yearSvgEdit:hover {
  cursor: pointer;
}

.duplicateSvg {
  position: absolute;
  top: -0.5rem;
  left: 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  width: 2rem;
  height: 2rem;
  z-index: 3 !important;
  border-radius: 50%;
}
.duplicateSvg svg {
  width: 0.8rem;
  height: 0.8rem;
  fill: white;
}
.duplicateSvg:hover {
  cursor: pointer;
}
.duplicateSvgEdit {
  position: absolute;
  top: -0.5rem;
  left: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  width: 2rem;
  height: 2rem;
  z-index: 3 !important;
  border-radius: 50%;
}
.duplicateSvgEdit svg {
  width: 1rem;
  height: 1rem;
  fill: white;
}
.duplicateSvgEdit:hover {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 5rem;
  background-color: #8D5A97;
  color: white;
}
.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.nav-list-item {
  font-size: 1.8rem;
}
.nav-list-item:hover {
  cursor: pointer;
}
.nav-account {
  position: relative;
}
.nav-account svg:hover {
  cursor: pointer;
}
.nav-account-menu {
  position: absolute;
  top: 100%;
  left: -15rem;
  background-color: #907F9F;
  width: 20rem;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  z-index: 200;
  box-shadow: 0.5rem 0.5rem 1rem 0.5rem rgba(0, 0, 0, 0.4);
}
.nav-account-menu h1 {
  padding: 1rem;
}
.nav-account-menu-item {
  text-align: center;
  padding: 1.5rem 1rem;
  font-size: 1.8rem;
  width: 100%;
  transition: all 0.5s;
}
.nav-account-menu-item:hover {
  cursor: pointer;
  background-color: #A4A5AE;
}
.nav-logo {
  font-size: 2.4rem;
  font-family: palanquin;
}

.listUsers {
  display: flex;
  flex-direction: column;
}
.listUsersHeading {
  display: flex;
  align-items: center;
  border: 0.05rem solid #907F9F;
  padding: 3rem 1.5rem;
  gap: 3rem;
  background-color: #907F9F;
}
.listUsersHeading span {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-weight: 600;
  min-width: 25rem;
  color: white;
}
.listUsersUser {
  display: flex;
  align-items: center;
  border: 0.05rem solid #907F9F;
  padding: 3rem 1.5rem;
  gap: 3rem;
}
.listUsersUser span {
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
  min-width: 25rem;
}

/*# sourceMappingURL=globals.css.map */
